<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if env == 'production' %}
  <title>Document</title>
  <link
      rel="stylesheet"
      href="/{{ manifest['src/frontend/main.css'].file }}"
      />
  <script
      type="module"
      src="/{{ manifest['src/frontend/main.jsx'].file }}"
      ></script>
  {% else %}
  <title>Development</title>
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script
      type="module"
      src="http://localhost:5173/src/frontend/main.jsx"
      ></script>
  {% endif %}
</head>
<body>
  {{ process.env.NODE_ENV }}
  <div id="app"></div>
</body>
</html>
